<div class="headinginner inner flex flex-3">
 <p style="font-size: 12px;">
   <p>This user interface is used to demonstrate the conversations broker in action, used to orchestrate Watson Conversation Service with Claims application. The broker can communicate with other backend servcies as well.
   For more information about code and content see the repository in github.com <a href="https://github.com/KsrivastavaSumit/ITSupportConversationTutorial">DXC Claims on IBM Cloud Reference Architecture </a>
</div>
<section id="one" class="wrapper">
 <div class="inner flex flex-3">
     <div class="flex-item left" style="position: relative; top: -101px;">
         <div>
             <h3>DXC FNOL Bot</h3>
             <p>Engage DXC Claims support bot to record a First <br> Notice of Loss or a Claim with Insurance company.</p>
             <p><button (click)="conversation()" class="btn">Ask DXC Insurance Claims</button></p>
         </div>

     </div>
     <div class="flex-item image fit round">
         <img src="assets/images/pic01.jpg" alt="">
     </div>
     <div class="flex-item right">
         <div>
             <h3>DXC Claims</h3>
             <p>
                 RISKMASTER Accelerator
             </p>
             <p>
                 <button class="btn">Claim Administration</button></p>
         </div>
         <div>
             <h3>Knowledge Advisor</h3>
             <p>
                 Explore Claims repository
             </p>
             <p>
                 <button class="btn">Advise me</button></p>
         </div>
     </div>
 </div>
</section>
