<link rel="stylesheet" href="node_modules/loaders.css/loaders.min.css">
<div class="row">
  <h3>Welcome to the DXC Watson Conversation Broker Demo</h3>
  <p>This user interface is used to demonstrated the conversations broker in action, used to orchestrate Watson Conversation Service with other backend services.</p>
    <p>For more information about code and content see the repository in github.com <a href="https://github.com/ibm-cloud-architecture/refarch-cognitive-conversation-broker">IBM Cloud Architecture</a></p>
    <p>For a deep dive tutorial on how the IT support conversation is done see the <a href="https://www.ibm.com/cloud/garage/tutorials/watson_conversation_support">garage method site</a></p>
  <div class="col-md-4 roundRect" style="box-shadow: 5px 5px 2px #10d1d1; border-color: #10d1d1;">
        <h2>DXC FNOL Bot</h2>
        <p>Start a simple DXC Claims support conversation for starting a FIRST Notice of Loss  - for demonstration of the broker's capabilities</p>
        <p><button (click)="conversation()" class="btn">Ask DXC Insurance Claims</button></p>
  </div>
</div>
